@import "tailwindcss";

@theme {
    --font-heading: var(--font-fraunces);
    --font-body: var(--manrope);
    --color-purple-transparent: #3b1e55f1;
    --color-purple-footer: #2d035e;
    --padding-spacing-x: 30px;
    --padding-spacing-t: 80px;
    --radius-button: 6px;
}

/* body {
    color: #FFB703;
    color: #9b51e0;
    color: #3b1e55f1;
    color: #FF4D8D;
    color: #00B4D8;
    color: #FFFDF8;
    color: #111827;
    color: #007fff;
    color: green;
} */

.dkdk{
    color: #2d035e
}